.centre {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.txt {
    height: 200px;
    width: 400px;
    text-align: center;
    font-family: 'Charm', cursive;
    position: fixed;
    top: 60%;
    left: 50%;
    font-size: 50px;
    margin-top: -100px;
    margin-left: -200px;
}

.removeImg{
    z-index: -1;
}

.imgCentre{
    text-align: center;
}
.imgCentre img{
      width: 70%;
    max-width: 300px;
    max-height: 300px;
}
.greeting {
  text-transform: capitalize;
}